* {
    font-family: 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
    border: 0;
}

footer {
    background-color: antiquewhite;
    margin: 0;
    border: 0;
    text-align: center;
    position: relative;
    width:100%;
    height:2em;
}

header {
    background-color: rgb(230, 230, 250);
    box-shadow: 0 3px 2px;
    z-index: 1;
    width: 95%;
    margin: 0 auto;
    padding: 1% 3%;
    text-align: center;
    position: sticky;
    top: 0;
}

.return {
    position: fixed; 
    bottom: 0; 
    margin: 1% 3%;
    padding: 0.5% 3%;
    z-index: 1;
    background-color: rgb(230, 230, 250);
    box-shadow: 0 3px 2px;
}

.text-muted {
    font-size: x-small;
    margin-left: 5%;
}